@font-face {
  font-family: 'Lato-Bold';
  src: url('/assets/fonts/Lato-Black.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Lato-Regular';
  src: url('/assets/fonts/Lato-Regular.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Lato-Light';
  src: url('/assets/fonts/Lato-Light.ttf');
  font-display: swap;
}