@import '_font';
@import '_common';

body {
  font-family: 'Lato-Regular', sans-serif;
}

.tinder-show {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile {
  position: fixed;
  top: 1rem;
  right: 1rem;
  .username {
    position: relative;
    bottom: 1rem;
    right: .5rem
  }
  .avatar {
    border-radius: 50%;
  }
}
