@import 'styles/_color';
@import 'styles/_font';

@keyframes like {
  from {
    transform: rotate(0deg);
    opacity: 1;
  }

  to {
    transform: rotate(40deg) translateY(-80px);
    opacity: 0;
  }
}

@keyframes pass {
  from {
    transform: rotate(0deg);
    opacity: 1;
  }

  to {
    transform: rotate(-40deg) translateY(-80px);
    opacity: 0;
  }
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.slide-show {
  padding: 1rem;
  width: 25rem;
  background-repeat: no-repeat;
  background-size: cover;

  .change-image-actions {
    padding: 15rem 0 5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .name {
    font-family: 'Lato-Bold', sans-serif;
  }

  .name,
  .age,
  .email,
  .phone,
  .gender,
  .total-images {
    color: $white;
  }

  .gender {
    padding: 0.3rem 0.5rem;
    border-radius: 0.3rem;
    text-transform: capitalize;
    background-color: $gender;
    width: max-content;
  }

  &.fade-in {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1s;
  }

  &.like {
    animation: like 1s ease-out;
  }

  &.pass {
    animation: pass 1s ease-out;
  }
}
