@import 'styles/_color';
@import 'styles/_font';

.slide-show {
  padding: 1rem;
  width: 25rem;
  background-repeat: no-repeat;
  background-size: cover;

  .change-image-actions {
    padding: 15rem 0 5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .name {
    font-family: 'Lato-Bold', sans-serif;
  }

  .name,
  .age,
  .title,
  .total-images {
    color: $white;
  }
}
