@import 'styles/_color';

.alert {
  padding: 0.3rem;
  border-radius: 0.3rem;
  font-weight: bold;
  font-size: 2rem;
  color: $white;
  text-transform: uppercase;

  &.like {
    color: $like;
    border: 3px solid $like;
  }

  &.pass {
    color: $pass;
    border: 3px solid $pass;
  }
}
